<% content_for(:navbar_class, "navbar-home") %>
<% content_for(:footer_class, "footer-home") %>

<div class="banner" id="home">
  <div class="text-box"> 
    <h1>Ely's</h1>
    <p>Ely's beauty salon has been part of London’s hair scene since 2015,
     and we wanted to give you an illustrative snapshot into the story that we are
     so proud of.</p>
     <%= link_to  "Our Stylists", stylists_path, class: "hero-btn" %>
  </div>
</div>

<div class="about-us-container">
    <div class="aboutUs" id="about-us">
        <h2>About Us</h2>

         <div class="row">
            <div class="aboutUs-col">
                <p><em>Ely's</em> has been part of London’s hair scene since 2015, 
                    and we wanted to give you an illustrative snapshot into the story that we are so proud of. 
                    Our philosophy for nurturing and developing raw talent which we began at our first salon in Sydney Street. 
                    We opened one of the most celebrated names in hair and beauty, Elena & Chuk’s is proud of its heritage 
                    and stellar team, many of which have been with us for over 5 years. We would like to thank you, 
                    as well as the loyal press, for supporting our creative journey to becoming one of the 
                    best styling teams in the capital.
                </p>
                <p> 
                    The new flagship is our vision of what tomorrow's salon will look like.
                    Imagine innovative design, state-of-the-art technology and modern menus trailblazing,
                    with a botanical-inspired philosophy which stays true to our classic, luxury roots. 
                    So while you can plug into your personalised iPad programme, read a digital magazine, 
                    check emails, book appointments. Our plant-based menu including Hari's Herb Bar, 
                    Organic Colour Counter and natural magic washes, combined with our expertise, 
                    will simply deliver on great hair.
                </p>        
            </div>
        </div>

        <div class="stylists">
            <h2>Meet our stylists</h2>

            <div class="row">
                <div class="stylists-col">
                   <%= image_tag("lery.jpg")%>
                    <div class="layer">
                        <h3>Lery</h3>
                    </div>
                </div>

                <div class="stylists-col">
                      <%= image_tag("drh.jpg")%>
                    <div class="layer">
                        <h3>Dorothy</h3>
                    </div>
                </div>

                <div class="stylists-col">
                    <%= image_tag("adao.jpg")%>
                    <div class="layer">
                        <h3>Adao</h3>
                    </div>
                </div>
               
                <div class="stylists-col">
                     <%= image_tag("mina.jpg")%>
                    <div class="layer">
                        <h3>Mina</h3>
                    </div>
                </div>

                <div class="stylists-col">
                    <%= image_tag("gbenga.jpg")%>
                    <div class="layer">
                        <h3>Gbenga</h3>
                    </div>
                </div>

                <div class="stylists-col">
                    <%= image_tag("july.jpg")%>
                    <div class="layer">
                        <h3>July</h3>
                    </div>
                </div>
            </div>
        </div>
    <%= link_to 'Booked Appointments', appointments_path , class: "hero-btn-1"%> 
 </div>


    <div class="facilities">
        <h1>Our services</h1>
        <p>Please have a look at out facilities.We hope you will love our stylists.</p>

        <div class=row>
            <div class="facilities-col">
                <%= image_tag("sp.jpg")%>
                <h3>Side Parting</h3>
                <p>To create a side part, hold the tip of a comb down towards the scalp. ... 
                   Some look better with a diagonal direction to offset the side part, 
                   while others will pull hair straight back or down to the other side.
                </p>
            </div>

             <div class="facilities-col">
                <%= image_tag("high.jpg") %>
                <h3>High Top</h3>
                <p>The high top fade haircut may have peaked in the late 1980s and early 
                   1990s but it is back again and here to stay. The cut has come a long 
                   way from Kid of Kid 'n Play's unforgettable look.
                </p>
            </div>

            <div class="facilities-col">
                <%= image_tag("wavey.jpg")%>
                <h3>Beach Waves</h3>
                <p>Beach hair is essentially the opposite of dull, lifeless hair. 
                   It's got volume, texture, definition. It looks effortless—artfully 
                   suspended in perfect form without any effort whatsoever.
                </p>
            </div>


            <div class="facilities-col">
                <%= image_tag("buzzed.jpg")%>
                <h3>Buzz Cut</h3>
                <p>If you have a lean face, strong jaw, and good cheekbones, 
                   you're a shoo-in for the buzz cut look. Just be wary that if 
                   your forehead is already on the larger side, or your jaw is 
                   something you don't want to be drawing attention to, tightly 
                   cropped hair will probably not be for you.
                </p>
            </div>

            <div class="facilities-col">
                <%= image_tag("dreads1.jpg")%>
                <h3>Dreads</h3>
                <p>Dreads have always been worn to make a statement. For many, 
                   they're spiritual and they symbolize the letting go of material 
                   possessions. For others, they're political and a way to rebel 
                   against conformity and the status quo. Some just like the way they look.
                </p>
            </div>

            <div class="facilities-col">
                <%= image_tag("fade.jpg") %>
                <h3>Fade</h3>
                <p>Go for a blended hairstyle if you want to 
                   leave some length on the top, sides, and back. Most men's haircuts involve 
                   some sort of taper, and if you want a clean, thick, classic cut, a taper is the way to go.
                </p>
            </div>         
        </div>
    </div>


    <!--------------- testimonials ------------------>

    <div class="testimonials">
        <h1>What Our Clients Says</h1>

        <div class="row">
            <div class="testimonial-col">
                <%= image_tag("img.jpg") %>
                <div>
                    <p>
                       I cannot even begin to describe how lovely my experience was. 
                       From check-in to check-out, I felt like an absolute princess. 
                       What a hidden gem of a salon! Maria did an outstanding color 
                       correction and also freshened up my haircut with some chic fringe bangs.
                    </p>
                    <h3>Christine Berley</h3>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>

             <div class="testimonial-col">
                <%= image_tag("img1.jpg")%>
                <div>
                    <p>
                      Just wow!! I had a warm welcome by all the stylists at the salon. 
                      The hair wash and head massage by Joe was bliss, it was extremely 
                      relaxing and I went into heaven. They make the whole experience so peaceful. 
                    </p>
                    <h3>David Grey</h3>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>
    </div>

    <!--------------Call to action -------------------->
    <div class="cta">
        <h1>Make reservations or find out more details about <br>
           our salon by just filling out this form.
        </h1>
        <%= link_to "Contact Us", salons_url, class: "hero-btn"  %>
    </div>




