<div class="stylist-details">
    <div class="stylist-container">
        <h1><%= @stylist.name %></h1>
        <h2> Years of <br> experience: <%= @stylist.years_of_experience %></h2>
        <h2> Occupation: <br> <%= @stylist.occupation %></h2>
    </div>



    <div class="stylist-details-price-and-style">
        <% @hairstyles.each do |hairstyle| %>
        <ol> 
            <li>
                <h2><%= hairstyle.style %></h2>
                <h3>Price: £<%= hairstyle.price %></h3>
            </li>
            </ol>
        <% end %>
    </div>

    <div class="stylist-appointment-container">
        <div class="stylist-appointment-form">
            <%= render 'appointments/form', :appointment => @appointment, :stylist => @stylist %>
        </div>
    </div>


<%= link_to  "Back", stylists_path,  class: "hero-btn-1" %>
<%= link_to 'Booked Appointments', appointments_path ,  class: "hero-btn-1"%>

</div>
